header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.vistamovie-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.vistamovie-nav-content h1 {
    font-size: 26px;
    margin: 0;
    font-weight: 700;
}

.vistamovie-contact-container {
    display: flex;
    align-items: center;
}

.vistamovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 16px;
}

a, a:hover {
    text-decoration: none;
    color: unset;
  }